	</div>	<!-- .main -->

	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-6">
								<div class="bot-menu">
									<ul class="bot-menu-list">
										<li class="bot-menu-item">
											<a href="">Новости</a>
										</li>
										<li class="bot-menu-item">
											<a href="">Региональные СМИ</a>
										</li>
										<li class="bot-menu-item">
											<a href="">Контакты для СМИ</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="bot-menu">
									<ul class="bot-menu-list">
										<li class="bot-menu-item">
											<a href="">Новости</a>
										</li>
										<li class="bot-menu-item">
											<a href="">Региональные СМИ</a>
										</li>
										<li class="bot-menu-item">
											<a href="">Контакты для СМИ</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-6">
								<div class="bot-contacts">
									<ul class="bot-contacts-list">
										<li class="bot-contacts-item">
											<i class="fa fa-address-book" aria-hidden="true"></i>
											398017, г. Липецк, ул. Крупской, д.1.
										</li>
										<li class="bot-contacts-item">
											<i class="fa fa-calendar" aria-hidden="true"></i>
											пн-чв - с 8.30 до 17.30
											<p>пт - с 8.30 до 16.30</p>
										</li>
										<li class="bot-contacts-item">
											<i class="fa fa-cutlery" aria-hidden="true"></i>
											перерыв с с 13.00. до 13.48
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="bot-contacts">
									<ul class="bot-contacts-list">
										<li class="bot-contacts-item">
											<i class="fa fa-phone" aria-hidden="true"></i>
											(4742) 288-199 (доб. 51, 52).
										</li>
										<li class="bot-contacts-item">
											<i class="fa fa-fax" aria-hidden="true"></i>
											(4742) 288-199 (доб. 9).
										</li>
										<li class="bot-contacts-item">
											<i class="fa fa-envelope-o" aria-hidden="true"></i>
											itc48@admlr.lipetsk.ru
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- Инициализация версии для слабовидящих -->
	<script type='text/javascript'>
	    /* <![CDATA[ */
	    var bvi = {"BviPanel":"1","BviPanelBg":"white","BviPanelFontSize":"18","BviPanelLetterSpacing":"normal","BviPanelLineHeight":"normal","BviPanelImg":"1","BviPanelImgXY":"1","BviPanelReload":"0","BviPanelNoWork":"0","BviPanelText":"\u0412\u0435\u0440\u0441\u0438\u044f \u0434\u043b\u044f \u0441\u043b\u0430\u0431\u043e\u0432\u0438\u0434\u044f\u0449\u0438\u0445","BviPanelCloseText":"\u041e\u0431\u044b\u0447\u043d\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0430\u0439\u0442\u0430","BviFixPanel":"1","ver":"Button visually impaired version 1.0.3","BviCloseClassAndId":"","BviTextBg":"#e53935","BviTextColor":"#ffffff","BviSizeText":"14","BviSizeIcon":"30","BviPlay":"1"};
	    /* ]]> */
	</script>
	<script src="js/scripts.min.js"></script>

</body>
</html>